body {
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fdf9ef;
    color: #333;

}

/* Footer Styles */
footer {

    background-color: #45474B;
    padding: 20px;
    text-align: center;
    color: #fdf9ef;
}

header {
    /* background-color: #; */
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    background-color: #45474B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
    position: fixed;
    flex-wrap: wrap;
    z-index: 999;

}
.nav a, .auth a {
    color: #fdf9ef;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.remember-me input {
    margin-right: 10px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #45474B;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
}

.login-btn:hover {
    background-color: #333;
}

.forgot-password {
    display: block;
    text-align: center;
    margin-top: 10px;
}