/* General Styles */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fdf9ef;
    color: #333;
    
}

/* Header Styles */
header {
    width: 100%;
    margin: 0;
    padding: 0;
     left:0;
     top:0;
    background-color: #45474B ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap; 
    position: fixed;
    z-index: 999;
    color: #fdf9ef;

}

/* Footer Styles */
footer {
     
    background-color: #45474B;
    padding: 0px;
    text-align: center;
    color: #fdf9ef;
    
   
   
   
}
